.flexInput {
  border-left: 2px solid transparent;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.errorWARN {
  border-left: 2px solid #dc3545;
}

.errorCAUT {
  border-left: 2px solid #ffc107;
}

.errorINFO {
  border-left: 2px solid #007bff;
}

.errorSUCCESS {
  border-left: 2px solid #28a745;
}

.valErrorWARN {
  border-left: 2px solid #dc3545;
}

.valErrorCAUT {
  border-left: 2px solid #ffc107;
}

.valErrorINFO {
  border-left: 2px solid #007bff;
}

.valErrorSUCCESS {
  border-left: 2px solid #28a745;
}

.pStyle {
  margin: 0px;
}

.pStyleEmpty {
  margin: 0px;
  color: #cdcdcd;
  font-style: italic;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.icon {
  fill: #00a963 /*#ca7513 #14c27a*/;
}

.crew-icons {
  margin-left: 5px;
  margin-right: 5px;
}

.wb-pointer {
  cursor: pointer;
}

.icon-x {
  fill: #dc3545;
}

.wb-error-list-item {
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
}

.wb-navbar {
  width: 100%;
  right: auto;
  left: auto;
}

.wb-nav-item {
  padding: 0rem .6rem 0rem .6rem;
}

.wb-title-text {
  color: #fff;
  font-size: 1rem;
  background: inherit;
  padding: 12px 16px 12px 16px;
  margin-left: -15px;
  font-weight: bold;
}

.wb-title-text:hover {
  color: #ddd;
  text-decoration: none;
}

.wb-bg-med {
  background-color: #f1f1f1;
}

.wb-form-input {
  padding: 0rem .2rem 0rem .2rem;
  border-radius: 0;
  background-color: transparent;
}

.sim-sortie-icon {
  margin-bottom: -16px;
}

.wb-badge-selected {
  background-color: #00a963;
}

.wb-badge-warn {
  background-color: #ffc107;
}

.wb-only-hover-element {
  display: none;
}

.wb-only-hover-element-hold-space {
  visibility: hidden;
}

.wb-only-hover:hover .wb-only-hover-element {
  display: flow-root;
}

.wb-only-hover:hover .wb-only-hover-element-hold-space {
  visibility: visible;
}