.flexInput {
  border: 1px solid white;
}

.errorWARN {
  border: 1px solid red;
}

.errorCAUT {
  border: 1px solid yellow;
}

.errorINFO {
  border: 1px solid blue;
}

.errorSUCCESS {
  border: 1px solid green;
}

.valErrorWARN {
  border-bottom: 1px solid red;
}

.valErrorCAUT {
  border-bottom: 1px solid yellow;
}

.valErrorINFO {
  border-bottom: 1px solid blue;
}

.valErrorSUCCESS {
  border-bottom: 1px solid green;
}

.pStyle {
  margin: 0px;
  color: black;
}

.pStyleEmpty {
  margin: 0px;
  color: #cdcdcd;
  font-style: italic;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }